<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .message-title{
            color:"#aaf"; 
            font-weight: 2rem;
        }
    </style>
</head>
<body>
    <h1 class="message-title">HELLO SMART</h1>
</body>
</html>